.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: absolute;
  bottom: 0;
  width: 320px;
  height: 450px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 80px;
  z-index: 100000;
  box-shadow: 0px 3px 20px #666;
}

.chat {
  position: relative;
  background-color: #fff;
  padding-top: 15px;
  overflow: auto;
  height: 100%;
}

.footer {
  position: relative;
  background-color: fff;
  height: 60px;
  box-shadow: 0px 3px 20px #666;
  display: flex;
  width: 320px;
}

.icons {
  width: 40px;
  padding-top: 8px;
  padding-left: 9px;
}

.senderMessage {
  margin-right: 8px;
}

.iaMessage {
  margin-left: 8px;
}

.textBox {
  width: 210px;
}

.textHolder {
  background-color: #E7E7F2;
  color: #000;
  margin-left: 6px;
  margin-top: 6px;
  height: 34px;
  width: calc(100% - 12px);
  border-radius: 5px;
  border: none;
}

.send {
  width: 50px;
  padding-top: 3px;
  padding-left: 4px;
}

.messageContainer {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  /* Align messages to the left */
}

.messageContainer.right {
  justify-content: flex-end;
  /* Align messages to the right */
}

.message {
  padding: 10px 14px 12px 14px;
  position: relative;
  /* Change 'absolute' to 'relative' */
  border-radius: 8px;
  display: inline-block;
  /* Change 'flex' to 'inline-block' */
  max-width: 70%;
  min-height: fit-content;
}